/* === Fonts and Base === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(245deg, #f5f5f5, #ffffff);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  animation: fadeIn 0.8s ease-in;
}

#header {
  font-family: 'Poppins-Semibold', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  height: 80px;
  position: fixed;
  z-index: 1;
  letter-spacing: 15px;
  margin-bottom: 40px;
  margin-top: 0;
  background-color: #20df76;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

 #main-heading  {
  font-family: 'Poppins-Semibold', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  height: 80px;
  position: fixed;
  z-index: 1;
  letter-spacing: 15px;
  margin-bottom: 40px;
  margin-top: 0;
  background-color: #20df76;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

#form-heading {
  font-family: 'Poppins-medium', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #009959;
  background-color: transparent;
  text-transform: uppercase;
}

/* === Form Styling === */
form {
  background-color: #fff;
  margin-top: 120px;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: slideIn 0.5s ease-out;
}

label {
  font-weight: 600;
  font-size: 0.95rem;
  color: #444;
  text-transform: capitalize;
}

input,
select {
  margin-top: 2px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #ff7f50;
  outline: none;
}

#submit-btn {
  padding: 10px 16px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: capitalize;
}

#submit-btn:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}

#pay-btn {
  padding: 10px 16px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: capitalize;
  z-index: 999;
}

#pay-btn:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}

/* === Expense List === */
.expense-list {
  margin-top: 40px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.expense-list div {
  background-color: #ffffffdd;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  animation: fadeInUp 0.5s ease forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.expense-list div:hover {
  transform: translateY(-3px);
}

/* === Inner content for expense details === */
.expense-list div>div {
  display: flex;
  flex-direction: row;
  background: none;
  width: 60%;
  gap: 40px;
  margin-bottom: 10px;
}

/* h2 elements inside item */
.expense-list h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.1rem;
  color: #333;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* ₹ amount */
.expense-list h2:first-child {
  color: #e91e63;
  font-weight: 800;
  font-size: 1.1rem;
}

/* Description */
.expense-list h2:nth-child(2) {
  color: #3f51b5;
  font-weight: 700;
}

/* Category */
.expense-list h2:nth-child(3) {
  color: #00a706;
}

/* === Buttons inside each item === */
.expense-list div button {
  margin-right: 10px;
  font-size: 0.85rem;
  padding: 7px 12px;
  border-radius: 5px;
}

.expense-list button:last-of-type {
  background-color: #f44336;
  border: none;
  color: white;
  width: 90px;
}

.expense-list button:hover {
  transform: translateY(-1px);
  background-color: #d61103;
}

#premium-user-div button:hover {
  transform: translateY(-1px);
  background-color: #00552a;
}

/* Leaderboard */
#leaderboard-table {
  margin: 20px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.leaderboard-item {
  background-color: #ffffffdd;
  padding: 5px 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease;
}

.leaderboard-item h2:first-child {
  width: 30%;
  color: #e91e63;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.leaderboard-item h2:nth-child(2) {
  font-family: 'Poppins-Bold', sans-serif;
  color: #0046af;
  width: 30%;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.leaderboard-item h2:nth-child(3) {
  font-family: 'Poppins-Bold', sans-serif;
  width: 30%;
  color: #0046af;
  font-weight: 800;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.premium-user-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.premium-user-div-lb {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#premium-user {
  font-size: 1rem;
  color: green;
  text-align: center;
  text-transform: uppercase;
}

#premium-user-lb {
  font-size: 1rem;
  color: green;
  text-align: center;
  text-transform: uppercase;
}

#leaderboard-btn {
  margin-right: 10px;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: green;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#expensePage-btn {
  margin-right: 10px;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: green;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.premium-user-div-lb button:hover {
  transform: translateY(-1px);
  background-color: #00552a;
}

.hidden {
  display: none;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, bottom 0.5s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  bottom: 550px;
  pointer-events: auto;
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}

.toast.hidden {
  display: none;
}


/* === Animations === */
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* === Responsive === */
@media (max-width: 480px) {
  #login-form #signup-form #expense-form {
    width: 90%;
  }

  .expense-list {
    width: 95%;
  }

  .expense-list div {
    flex-direction: column;
    align-items: flex-start;
  }

  .expense-list div>div {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .expense-list h2 {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
  }

  .expense-list button {
    margin-right: 0;
    margin-bottom: 8px;
  }
}